.jokenavbuttons{
    background-color: transparent;
    border-color: transparent;
    width: 41px;
    height:30px;
} 
#joke{
    width: 270px;
    text-align: justify;
    font-size: 14px;
    font-family: 'Courier New', monospace;
    overflow: auto;
    max-height: 200px !important;
    margin: 10px;
} 
#joke::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

#joke::-webkit-scrollbar {
  width: 10px;
}
a:link { color: #8ea7ac; }
a:visited { color: #00FF00; } 
a:hover {color: #93ad64;}


#joke::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
#heading{
    margin-left: 5px;
    font-size: 32px;
    font-weight: bold;
    max-height: 40px;
    display: inline-block;
    vertical-align: middle;
}
#icon{
    width: 30px;
    height: 32px;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
} 
#main-content{
    width: 322px;
    box-sizing: border-box;
    border: 2px solid #969696;
    padding: 2px;
    color:#d5e1ef;
    background: linear-gradient(120deg,#5372df,#0F1620);
} 
#info_t{
  margin-left: 10px;
  display: none;
  width:270px;
  text-align: justify;
}
#icon:hover ~ #info_t{
  display:block !important;
  animation: popup 1s ease-in-out;
}
.section{
  margin-left: 5px;
}
#icon:hover ~ .section{
  display:none !important;
}
#footer{
  text-align: center;
}
@keyframes popup {
  0%{
    display: none;
    opacity: 0;
  }
  1%{
    display: block;
    opacity: 0.1;
  }
  50%{
    display: block;
    opacity: 0.5;
  }
  100%{
    display: block;
    opacity: 1;
  }
}





